
@model Detailing_Diary.Models.Bussiness.Job
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Job Deatils";
    var job = ViewBag.job;
    var pictures = new string[3] { "https://i.pinimg.com/236x/a5/d9/f0/a5d9f0b17f1dc03d2719d2e787461798--protein-solution.jpg",
                "https://cdn.shopify.com/s/files/1/3010/7250/products/Tornado-Car-Washer-P11_large.jpg?v=1547473666",
                "https://i.pinimg.com/originals/fe/0a/b5/fe0ab5d93abb0e51cb0ff51918c18746.jpg" };
}

<h1>GarageDetails</h1>

<div>
    <hr />
    <div class="row">
        @for (int i = 0; i < pictures.Length; i++)
        {
            <img class="p-2 col-md-4 "
                 style="height:300px;"
                 src="@pictures[i]"
                 alt="cover" />
        }

    </div>
    <div class="row mt-4">
        <h2 class="col">@job.Type</h2>
        <p class="col align-content-start">Rating:@job.Rating</p>

    </div>


</div>
<div class="mt-5 mrg-auto   text-center ">
    <div class="w-100 row d-flex justify-content-center align-content-center">
        <div class="col">
            <div class="row">
                <a class="btn btn-primary col-md-2" asp-action="Edit" asp-route-id="@job.Id">Edit</a>

                <form method="POST" class="col-md-3" asp-action="Delete" asp-controller="Jobs" asp-route-id="@job.Id">
                    <button type="submit" class="btn btn-danger col">Delete</button>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <a class="col nav-link" asp-controller="Jobs" asp-action="CreateJob" asp-route-id="@job.Id">Add Job</a>
                <a class="col nav-link" asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
</div>
