@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Detailing_Diary.Models.Bussiness.Garage

@{
    ViewData["Title"] = "GarageDetails";
    var garage = ViewBag.GarageDetails;
    var jobs = ViewBag.Jobs;

}

<h1>GarageDetails</h1>

<div>
    <hr />
    <div>
        <img class="w-100 "
             style="height:300px;"
             src="https://www.askideas.com/media/13/Keep-Calm-And-Listen-To-Music-Facebook-Cover-Photo.jpeg"
             alt="cover" />
        <h2 class="mt-5">@garage.Name</h2>
        <p>Rating:@garage.Rating</p>
    </div>

    @foreach (var job in jobs)
    {
        <div class="card mb-4">
            <div class="card-header">
                <a asp-controller="Jobs" asp-action="Details" asp-route-id="@job.Id">

                    <strong>@job.Type - @job.DetailName</strong>
                </a>
            </div>
            <div class="card-body container">
                <div class="row">
                    <div class="col">
                        <p class="card-title">Rating: @job.Rating / 10</p>
                        <p class="card-text">Date: @job.Date.ToShortDateString()</p>
                    </div>
                    <div class="col">
                        <p class="card-text">TimeSpan: @job.TimeSpan</p>
                        <p class="card-text">Car: @job.ClientCar</p>

                    </div>
                </div>


            </div>
        </div>
    }

</div>
@*<div>

    @if (garage.Owner.Id.ToString() == UserManager.GetUserId(User))
    {

        <a asp-action="Edit" asp-route-id="@garage.Id" class="btn btn-primary">Edit</a>
        <form method="post" asp-controller="Garage" asp-action="Delete" asp-route-id="@garage.Id">
            <button class="btn btn-danger" type="submit ">Delete</button>
        </form>
    }

    <a asp-controller="Jobs" asp-action="CreateJob" asp-route-id="@garage.Id">Add Job</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
<div class="mt-5 mrg-auto   text-center ">
    <div class="w-100 row d-flex justify-content-center align-content-center">
        @if (garage.Owner.Id.ToString() == UserManager.GetUserId(User))
        {
            <div class="col">
                <div class="row">
                    <a class="btn btn-primary col-md-2" asp-action="Edit" asp-route-id="@garage.Id">Edit</a>

                    <form method="POST" class="col-md-3" asp-action="Delete" asp-controller="Jobs" asp-route-id="@garage.Id">
                        <button type="submit" class="btn btn-danger col">Delete</button>
                    </form>
                </div>

            </div>
        }

        <div class="col">
            <div class="row ">
                <a class="col-sm-3 btn btn-primary mr-3" asp-controller="Jobs" asp-action="CreateJob" asp-route-id="@garage.Id">Add Job</a>  
                <a class="col-sm-3 btn btn-primary" asp-action="Garages">Back to List</a>
            </div>

        </div>
    </div>
</div>